<html>
<head>
  <%= javascript_include_tag 'jquery3.min.js' %>
  <%= javascript_include_tag template_asset_path 'base' %>
  <%= javascript_include_tag template_asset_path @name %>
  <%= yield :script_tags %>
  <%= stylesheet_link_tag template_asset_path 'base' %>
  <%= stylesheet_link_tag template_asset_path @name %>
  <%= yield :style_tags %>
  <%= yield :style %>
</head>
<body>
  <div id="container">
    <%= yield %>
  </div>
  <%= yield :script %>
</body>
</html>
