<%= text_field_tag :name, @overlay.name, class: 'form-control mb-2 px-3 py-4' %>
<hr>
<div id="accordion">
  <% @elements.each do |name, options| %>
    <div class="card mb-2">
      <a class="card-link text-dark" data-toggle="collapse" href="#collapse_<%= name %>" role="button" aria-expanded="false">
        <div class="card-header border-bottom-0 bg-light">
          <%= name.to_s.humanize %>
        </div>
      </a>
      <div id="collapse_<%= name %>" class="collapse" data-parent="#accordion">
        <div class="card-body border-top">
          <%= options %>
        </div>
      </div>
    </div>
  <% end %>
</div>
