<%= text_field_tag :name, @overlay.name, class: 'form-control mb-2 px-3 py-4' %>
<hr>
<div id="accordion">
  <% @elements.each do |name, options| %>
    <div class="card mb-2">
      <div class="card-header border-bottom-0 bg-light d-flex align-items-center">
        <a class="card-link text-dark" data-toggle="collapse" href="#collapse_<%= name %>" role="button" aria-expanded="false">
          <%= name.to_s.humanize %>
        </a>
        <div class="toggle ml-auto">
          <%= check_box_tag "elements[#{name}]", 'enabled', options[:enabled] %>
          <%= label_tag "elements_#{name}", '', class: 'mb-0' %>
        </div>
      </div>
      <div id="collapse_<%= name %>" class="collapse" data-parent="#accordion">
        <div class="card-body border-top">
          <%= options %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% content_for :script do %>
  <script type="text/javascript" charset="utf-8">
		$("input[type='checkbox']").change(function() {
			 console.log(this.name + '[' + this.value + '] = ' + this.checked);
			$.post('overlays/<%= @overlay.id %>/update'), {}

		});
  </script>
<% end %>