<!DOCTYPE html>
<html>
<head>
  <title>Twitch - Hunter Pollpeter</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'twitch_engine/application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'twitch_engine/application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Hunter Pollpeter Twitch</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to 'Overlays', root_path, class: 'nav-link' %>
        </li>
      </ul>
      <% if current_user %>
        Welcome, <%= current_user.username %>
      <% else  %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to 'Log in with Twitch', user_twitch_omniauth_authorize_path, class: 'nav-link' %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
